---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        

<div class="card text-center">
  <div class="card-header">
    <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
     </h3>
  </div>
  {% if post.youtubeId and post.youtubeId != "" %}
  {% include youtubeplayer.html id=post.youtubeId %}
  {% endif %}
  <div class="card-block">
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <p class="card-text">{{ post.content | strip_html | truncate:150  }}</p>
    <a href="{{ post.url }}" class="btn btn-primary">Read more</a>
  </div>
</div>
      <br>  
      </li>
    {% endfor %}
  </ul>

</div>





